.container{
    margin: 0 150px;
}
 .container button{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
} 

@media only screen and (max-width:768px) {
    .container{
        margin: 0 auto;
    }
}